*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-item, li{
  text-decoration: none;
  list-style: none;
}
.login-img-container{
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
ul{
  padding: 0;
}
select, input{
  color: whitesmoke;
  border: 1px rgba(185, 185, 185, 0.263) solid;
  padding: 5px 0px 5px 5px;
}
select:focus, input:focus{
  outline: none;
}
::placeholder{
  color: whitesmoke;
}
input.brand-name::placeholder{
  color:black;
  padding-left: 4px;
}
.brand-name-container{
  width: fit-content;
  position: absolute;
  bottom:10px;
  left: 50%;
  margin-left: -40vw;
}
div.selected-logo{
  width:20vw;
  height:20vw;
  margin: 20px auto;

}
.nav-img{
  width: 2rem;
  height: 1.5rem;
  border-radius: 40%;
}
.logo-result-img{
  aspect-ratio: 4/3;
}
.logo-result-container{
  width:80vw;
}
.result-container{
  width: 20%;
  border: 1px solid rgba(255, 0, 0, 0.114);
}
.hidden-input{
  display:none;
}